@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* 전체 가운데 정렬 및 폰트 일괄 적용 */

.wrapper {
    width: 500px;
    background-color: #5B2386;
    margin: 50px auto;
    text-align: center;
    font-family: 'GmarketSansMedium';
    font-size:14px;
    line-height: 24px;
    color: white;
}

/* header 부분 : 1만 시간의 법칙 이미지와 설명*/

.title__logo-letter {
    position: relative;
    top: 50px;
    width: 350px;
}

.title__logo-drawing {
    position: relative;
    bottom: 75px;
    width: 160px;
}

.title__text-desc{
    position: relative;
    bottom: 50px;
    color: #F5DF4D;
    font-family: 'OTEnjoystoriesBA';
    font-size: 23px;
}

.title__text-def {
    position: relative;
    top: 10px;
    font-size: 12px;
}

.title__text-def strong {
    font-family: 'GmarketSansBold';
    font-size: 18px;
}

.title__img-quot {
    position:relative;
    bottom: 50px;
    width: 320px;
}

/* main 부분 : 훈련 시간을 입력받아 결과 표시 */

.cal__input { 
    position:relative;
    top: 30px;
}

/* Attribue Selectors [] */
.cal__input input[type=text] {
    border:1px solid #5B2386;
    border-radius: 7px;
    width: 150px;
    height: 40px;
    text-align: center;
    font-family: 'GmarketSansMedium';
    margin: 7px;
}

/* Pseudo Element :: */
.cal__input input::placeholder {
    color:#BABCBE
}

.btn--submit {

    padding: 10px 20px;
    background-color: #FCEE21;
    border-color:#5B2386;
    border-radius: 56px;
    font-family: 'GmarketSansBold';
    font-size: 14px;
    color: #5B2386;
}

.btn--submit-time {
    position:relative;
    left: 20px;
    top: 90px;
}

.cal__img--click {
    position: relative;
    top: 120px;
    left: 20px;
    width: 40px;
}

/* 결과 확인하는 부분 */

.cal__output {
    position: relative;
    line-height: 35px;
    top: 150px;
}

.cal__output strong {
    font-family: 'GmarketSansBold';
    font-size: 30px;
    margin: 5px;
}

.btn--submit-go {
    position: relative;
    top: 190px;
    right: 5px;
}

.btn--submit-share {
    background-color: white;
    text-decoration-line: none;
    position: relative;
    top: 190px;
}


/* 회사 로고와 저작권 표시 */
.corp-info {
    position : relative;
    top: 250px;
    display: flow-root;
}

.corp-info__logo {
    position: relative;
    bottom: 10px;
    left: 10px;
    width: 80px;
}

.corp-info__copyright {
    font-family: 'Noto Sans KR';
    font-size: 10px;
    line-height: 17px;
    margin-bottom: 50px;
    position: relative;
    left: 5px;
}

/* 모달 부분 */

.modal {
    display: none;
}

/* 기타 : 블라인드 처리 */
.blind {
    display : none;
}