@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* 배경 색 지정 및 폰트 일괄 적용 */

body {
    background-color: #5B2386;
}

:root {
    font-family: 'GmarketSansMedium';
    color: white;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 타이틀 : 1만 시간의 법칙 이미지와 텍스트 */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 194px 0px -180px;
}

.title__img-letter {
    width: 530px;
    margin-bottom: 125px;
}


.title::after {
    content: '';
    width: 220px;
    height: 250px;
    background-image: url(../img/clock.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 350px;
    z-index: -1;
}

.title__text {
    color: #F5DF4D;
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
}

/* 훈련 시간을 입력받아 결과 표시 */

#box-input {
    position: relative;
}

.cal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cal__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 78px;
    line-height: 1.8;
}

.cal__text strong {
    font-family: 'GmarketSansBold';
    font-size: 24px;
}

.cal__text::before {
    content: '';
    width: 600px;
    height: 30px;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    position: relative;
    top: 55px;
    left: 55px;
    display: block;
}

.cal__text--input {
    text-align: center;
    font-size: 24px;
}

.cal__text--input input {
    border: 1px solid #5B2386;
    border-radius: 7px;
    width: 228px;
    height: 58px;
    text-align: center;
    font-family: 'GmarketSansMedium';
    margin: 10px;
    font-size: 24px;
}

/* Pseudo Element :: */
.cal__text--input input::placeholder {
    color: #BABCBE;
}

.btn {

    padding: 21px 49px 21px 49px;
    background-color: #FCEE21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-color: #5B2386;
    border-radius: 56px;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    color: #5B2386;
    cursor: pointer;
}

.btn-result {
    margin: 115px 0px 0px 95px;
}

.cal__img--click {
    position: absolute;
    bottom: -20px;
}

/* 로딩창 */
.loading {
    display: none;
    animation: spinning 1s linear infinite;
    margin-top: 100px;
}

@keyframes spinning {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


/* 결과 확인하는 부분 */

.result {
    display: none;
    margin-top: 120px;
}

.cal__text--output {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.cal__text--output strong {
    font-family: 'GmarketSansBold';
    font-size: 72px;
    margin: 0px 10px;
}

.btn-modal {
    margin: 110px 10px 0px 30px;
}

.btn-share {
    background-color: white;
    text-decoration-line: none;
}

/* 회사 로고와 저작권 표시 */

.copyright {
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    font-family: 'Noto Sans KR';
    margin-top: 100px;
    margin-bottom: 70px;
}

.copyright__logo {
    margin-bottom: 20px;
}

/* 모달  */
.modal-licat {
    position: fixed;
    top: 3%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
}

.box-licat {

    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 56px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-licat__text {
    color: #5B2386;
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin: 30px 0 30px;
}

.modal-licat__text strong {
    font-size: 96px;
}

.modal-licat img {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.btn-go {
    margin: 74px auto;
    width: fit-content;
    border: none;
}

@media screen and (max-width: 820px) {

    /* 타이틀 */
    .title {
        margin: 80px 0 -82px;
    }

    .title__img-letter {
        width: 250px;
        height: 53px;
        margin-bottom: 69px;
    }

    .title::after {
        width: 106px;
        height: 106px;
        bottom: 175px;
    }

    .title__text {
        font-size: 22px;
        width: 300px
    }

    /* 입력 받는 부분 */
    .cal__text {
        font-size: 14px;
        margin-bottom: 62px;
    }

    .cal__text strong {
        font-size: 16px;
    }

    .cal__text::before {
        background-size: 300px;
        left: 150px;
    }

    .cal__text--input {
        width: 340px;
        font-size: 14px;
    }

    .cal__text--input input {
        font-size: 14px;
        width: 156px;
        height: 37px;
    }

    /* 계산하는 버튼  */
    .btn {
        width: 241px;
        height: 68px;
        font-size: 14px;
        padding: 17px 36px;
    }

    .btn-result {
        margin: 49px 0px 0px 45px;
        width: 240px;
        height: 68px;
        border-radius: 19px;
    }

    .cal__img--click {
        width: 50px;
        bottom: -10px;
    }


    /* 결과 출력 */

    .result {
        margin-top: 60px;
    }

    .loading {
        margin-top: 60px;
    }

    .cal__text--output {
        font-size: 14px;
    }

    .cal__text--output strong {
        font-size: 24px
    }

    .btn-modal {
        margin: 60px 10px 0px 30px;
        height: fit-content;
        width: fit-content;
        padding: 12px 18px;
        position: relative;
        right: 15px;

    }

    .btn-share {
        width: fit-content;
        height: fit-content;
        padding: 12px 18px;
        box-sizing: border-box;
        position: relative;
        right: 20px;
    }

    /* 로딩 */
    .loading {
        width: 100px;
        height: 100px;
    }

    /* 저작권 폰트 */
    .copyright {
        font-size: 9px;
        margin-top: 60px;
    }

    /* 모달 부분 */
    .box-licat {
        width: 330px;
        height: 500px;
        border-radius: 30px;
    }

    .modal-licat__text {
        margin: 40px 0 10px;
    }

    .modal-licat__text strong {
        font-size: 46px;
    }

    .modal-licat__text strong span {
        display: none;
    }

    .modal-licat img {
        width: 70%;
    }

    .btn-go {
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 231px;
        height: 68px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 13px;
        line-height: 1.2;
    }

}