@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* 배경 색 지정 및 폰트 일괄 적용 */

body {
    background-color: #5B2386;
}

:root {
    font-family: 'GmarketSansMedium';
    color: white;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 타이틀 : 1만 시간의 법칙 이미지와 텍스트 */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 194px 0px -180px;
}

.title__img-letter {
    width: 530px;
    margin-bottom: 125px;
}


.title::after {
    content: '';
    width: 220px;
    height: 250px;
    background-image: url(../img/clock.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 350px;
    z-index: -1;
}

.title__text {
    color: #F5DF4D;
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
}

/* 훈련 시간을 입력받아 결과 표시 */

#box-input {
    position: relative;
}

.cal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cal__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 78px;
    line-height: 1.8;
}

.cal__text strong {
    font-family: 'GmarketSansBold';
    font-size: 24px;
}

.cal__text::before {
    content: '';
    width: 600px;
    height: 30px;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    position: relative;
    top: 55px;
    left: 55px;
    display: block;
}

.cal__text--input {
    text-align: center;
    font-size: 24px;
}

/* Attribue Selectors [] */
.cal__text--input input[type=text] {
    border: 1px solid #5B2386;
    border-radius: 7px;
    width: 228px;
    height: 58px;
    text-align: center;
    font-family: 'GmarketSansMedium';
    margin: 10px;
    font-size: 24px;
}

/* Pseudo Element :: */
.cal__text--input input::placeholder {
    color: #BABCBE;
}

.btn--submit {

    padding: 21px 49px 21px 49px;
    background-color: #FCEE21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-color: #5B2386;
    border-radius: 56px;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    color: #5B2386;
}

.btn--submit-result {
    margin: 115px 0px 145px 95px;
}

.cal__img--click {
    position: absolute;
    bottom: 120px;
}

/* 결과 확인하는 부분 */

.cal__text--output {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.cal__text--output strong {
    font-family: 'GmarketSansBold';
    font-size: 72px;
    margin: 0px 10px;
}

.btn--anchor-modal {
    margin: 110px 10px 130px 30px;
}

.btn--anchor-share {
    background-color: white;
    text-decoration-line: none;
}

/* 회사 로고와 저작권 표시 */

.copyright {
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    font-family: 'Noto Sans KR';
    margin-bottom: 70px;
}

.copyright__logo {
    margin-bottom: 20px;
}

/* 모달  */
.modal-licat {
    display: none;
}

.box-licat {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 56px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-licat__text {
    color: #5B2386;
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin: 76px 0 30px;
}

.modal-licat__text strong {
    font-size: 96px;
}

.modal-licat img {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.btn__anchor-go {
    margin: 74px auto;
    width: fit-content;
}

@media (max-width: 820px) {

    .title {
        margin: 80px 0 -82px;
    }

    .title__img-letter {
        width: 250px;
        height: 53px;
        margin-bottom: 69px;
    }

    .title::after {
        width: 106px;
        height: 106px;
        bottom: 175px;
    }

    .title__text {
        font-size: 22px;
        width: 300px
    }

    .cal__text {
        font-size: 14px;
        margin-bottom: 62px;
    }

    .cal__text strong {
        font-size: 16px;
    }

    .cal__text::before {
        background-size: 300px;
        left: 150px;
    }

    .cal__text--input {
        width: 340px;
        font-size: 14px;
    }

    .cal__text--input input[type=text] {
        font-size: 14px;
        width: 156px;
        height: 37px;
    }

    .btn--submit {
        width: 241px;
        height: 68px;
        font-size: 14px;
        padding: 17px 36px;
    }

    .btn--submit-result {
        margin: 49px 0px 64px 45px;
        width: 240px;
        height: 68px;
        border-radius: 19px;
    }

    .cal__img--click {
        width: 50px;
        bottom: 50px;
    }

    .cal__text--output {
        font-size: 14px;
    }

    .cal__text--output strong {
        font-size: 24px
    }

    .btn--anchor-modal {
        margin: 60px 10px 87px 30px;
    }

    .copyright {
        font-size: 9px;
    }

    /* 모달도 구현해야 함! */
}